default: &default
  application_name: evr_dashboard
  dde_server: localhost:3003
  dde_username: admin
  dde_password: password
  site_code: MTA
  district: Lilongwe
  ta: Mtema
  secure_connection: false
  help_base_url: http://127.0.0.1:3003/

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default